{% load staticfiles %}
<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="O imóvel certo para você!">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>O imóvel certo</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.grid.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!--[if lt  IE  9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    </head>
    <body>
        <header class="container-fluid">
            <h1 id="headline">O imóvel certo.com</h1>
            <h3>Aqui você encontra o imóvel que estava procurando! </h3>
        </header>

        <a href="{% url 'url_new' %}" id="text">Cadastre seu imóvel aqui!</a>
<!--
        <form method="POST">
        {% csrf_token %}

        {{ zipcodes }}

        <button type="submit">Buscar</button>
        </form>
        --->
        <p id="text">Imoveis disponiveis:</p>

        <ul>
        {% for Register in properties %}
          <li id="list"> Título: {{ Register.title }} - Região: {{ Register.region }} -
              Valor: {{ Register.rate }} - Descrição: {{ Register.description }} - CEP: {{ Register.zipcode }} -
              <img src="{{ Register.picture.url }}" height="100" width="120">
          </li>
        {% endfor %}
        </ul>


        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>