{% extends 'oimovelcerto/base.html' %}
{% load staticfiles %}
{% block content %}

    <a href="{% url 'url_new' %}" id="text">Cadastre seu imóvel aqui!</a>
    <h4>Faça uma busca por bairro:</h4>
    <form method="get" action="/search">
        {% csrf_token %}
        <input type="text" name="search" id="">
        <button type="submit">Buscar</button>
    </form>

    <h3>Imoveis disponíveis:</h3>
        {% for object in properties %}
            <ul class="ad">
                <h4> {{ object.title }}</h4>
                <li>Bairro: {{ object.region }}</li>
                <li>Descrição: {{ object.description }}</li>
                <li>Valor: R${{ object.rate }}</li>
                <img src="{{ object.image.url }}" alt="foto">
            </ul>
        {% endfor %}

{% endblock %}

