body {
    font-family: "Arial", serif;
    width: 100vw
    height: 100vh;
}


header {
    position: static;
    background-color: #F0FFFF;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100vw;
    height: 20vh;
}

#headline {
    text-align: left;
    margin: 0 0 15px 0;
    font-family: "Arial", serif;
}

h4 {
    padding-top: 20px;
}

h3 {
    padding: 20px 20px;
}
#ad ul {
    font-family: serif;
    font-size: 20px;
    padding: 5 20px 0 10px;
    background-color: #DCDCDC;
   }

li {
    list-style-type: none;
}

